<h2>Project <%= @project.name %></h2>

<ul>
	<% @entries.each do |entry| %>
		<li> 
		<%=entry.hours%> h, 
		<%=entry.minutes%> m - 
		<%=entry.date%> 
		<%= link_to "Edit", "/projects/#{@project.id}/time_entries/#{entry.id}/edit"%>
		<%= link_to("Delete", project_time_entry_path(@project, entry), method: :delete, data: { confirm: 'Are you sure?'})%> 
		</li>
	<% end %>
</ul>


<br>
<%= link_to "Home", "/" %>
<%= link_to "Projects", "/projects" %>
