<h1>Welcome to the Time Tracking tool! oh, and a calculator</h1>

<p>@AJoeRed Powered</p>

<div><%= link_to "Contact Us", "/contact" %></div>
<div><%= link_to "Calculator", "/calculator" %></div>
<div><%= link_to "Projects", "/projects" %></div>


<%= image_tag "Dramatic-Glasses.gif", alt: "Dramatic Glasses", class: "image" %>
<%= image_tag "Dramatic-Glasses.gif", alt: "Dramatic Glasses", class: "image" %>
<%= image_tag "Dramatic-Glasses.gif", alt: "Dramatic Glasses", class: "image" %>
<%= image_tag "Dramatic-Glasses.gif", alt: "Dramatic Glasses", class: "image" %>